:root{
    --orange: #FF7404;
    --gray: #F8F9FA
}
header {
    position: relative; 
    overflow: hidden; 
}
nav{
    position: absolute !important;
    z-index: 99;
    width: 100%;
    top: 0;
}
.navbar-collapse{
    padding: 20px 0;
}
.navbar-toggler{
    border: 1px solid #333;
}
.navbar-toggler-icon{
    width: 22px;
}
.background {
    background-color: black;
}
.navbar-brand{
    font: 900 1.4em Arial, sans-serif;
    text-transform: uppercase;
}
.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
}
.contact_us{
    text-transform: uppercase;
    background-color: var(--orange);
    font: 700 .8em Montserrat, sans-serif;
    color: white;
    text-align: center;
    display: block;
    padding: 10px 15px;
    transition: .3s;
}
#item1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#item2{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.carousel-indicators{
    margin-top: auto;
    position: absolute;
    top: 79%;
    left: 0;
}
.carousel-indicators button{
    border-radius: 50%;
    display: block;
    width: 10px !important;
    height: 10px !important;
}
.hero img {
    top: 0;
    left: 0;
    width: 110%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.7); 
    z-index: -1; 
    overflow: hidden;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    padding: 0 30px;
}
.text a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 30px;
    letter-spacing: 2px;
    font: 300 .7em Arial,sans-serif;
    transition: .4s;
}
.arrows{display: none;}
#clip{
    position: absolute;
    width: 100%; 
    height: 180px; 
    background-color: #f8f9fa;
    bottom: -90px;
    right: 0;
    transform: translate(0%, 0%) scale(1.2) rotate(-5deg);
    z-index: 1; 
}
h1{
    text-transform: uppercase;
    font: 900 2.4em Montserrat, sans-serif;
    color: white;
}
h2{
    font: 200 1.1em Montserrat, sans-serif;
    color: white;
    padding: 0 60px;
}
h3{
    font: 800 2.4em Montserrat, sans-serif;
    line-height: 1.4;
    color: black;
    text-transform: uppercase;
    padding: 30px 0;
    text-align: center;
}
h4{
    font: 700 1.2em Montserrat;
    text-transform: uppercase;
    color: #fff;
}
h5{
    font: 500 1em 'Arial';
    color: white;
}
.card{
    z-index: 2;
    background-color: var(--gray);
    border: none;
}
.card-body{
    text-align: center;
    padding: 20px 0;
}
.card-body i{
    color:#fff;
    font-size: 1.1em;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}
.card-body p{
    font: 400 1em 'Open Sans', sans-serif;
    line-height: 1.8;
    color: #868e96;
}
.card-body h3{
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-top: 20px;
    color: var(--orange);
    line-height: 1.2;
    font: 500 1rem 'Open Sans', sans-serif;
}
hr{
    border: none;
    background-color: var(--orange);
    width: 80px;
    height: 2px;
    opacity: 1 !important;
}

main{
    overflow: hidden;
}
.section1{
    background-color: var(--gray);
    position: relative;
    padding: 50px 20px;
}
.section2{
    position: relative;
    padding: 100px 20px;
}
.section3{
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 180px;
}
.section4{
    position: relative;
    background-color: var(--gray);
    padding-bottom: 155px;
}
.section5{
    position: relative;
    padding-top: 30px;
    padding-bottom: 100px;
}
.section6{
    position: relative;
    padding-top: 30px;
    padding-bottom: 150px;
    background-color: var(--gray);
}
.section7{
    position: relative;
    padding-top: 100px;
}
footer{
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sectioncap{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
}
.rests p{
    font: 400 1em 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #868e96;
}
.pics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.pics img{
    width: 100%;
}
.rest12{ 
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.foods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.foodcap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    transition: .3s;
}
.foodcap h4{color: #fff;}
.dollar{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--orange);
    margin-bottom: 15px;
}
.foodcap{
    display: flex;
    align-items: center;
    height: 100%;
}
.dark{
    position: relative;
    overflow: hidden;
}
.dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(0.6); 
    z-index: -1;
  }
#food1{
    background: url('../img/dish1.webp') center/cover;
    height: 80vh;
    width: 100%;
    transition: .4s;
}
#food2{
    background: url('../img/dish3.webp') center/cover;
    width: 100%;
    height: 80vh;
    display: flex;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
#food3{
    background: url('../img/dish2.webp') center/cover;
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: start;
    justify-content: center;
    padding: 40px ;
    transition: .3s;
}
.description h6{
    color: var(--orange);
    font-size: 1.4em;
}
.description h4{
    color: #333;
    font: 700 1.1em Montserrat;
}
.description p{
    color: #868E96
}
#menudish1{
    background: url('../img/dish1.webp') center/cover;
    width: 100%;
    height: 300px;
    transition: .3s;
}
#menudish2{
    background: url('../img/dish2.webp') center/cover;
    width: 100%;
    transition: .3s;
    height: 300px;
}
#menudish3{
    background: url('../img/dish3.webp') center/cover;
    width: 100%;
    transition: .3s;
    height: 300px;
}
#menudish4{
    background: url('../img/dish4.webp') center/cover;
    width: 100%;
    transition: .3s;
    height: 300px;
}
.menuflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section5 button{
    background-color: var(--orange);
}
.section5 .carousel-item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.thought{
    padding: 0 50px;
    text-align: center;
}
.users{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.users h5{
    color: #333;
}
.usertext{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.section5 .carousel-control-prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.section5 .carousel-control-next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.section5 #clip{
    background-color: #fff ;
}
.artic{
    display: flex;
    flex-direction: column;
    transition: .3s;
}
.artic .artimg1{
    background: url('../img/dish1.webp') center/cover;
    width: 100%;
    height: 300px;
    margin-right: 10px;
}
.artic .artimg2{
    background: url('../img/dish2.webp') center/cover;
    width: 100%;
    height: 300px;
}
.arttxt{
    background-color: #fff;
    padding: 40px 30px;
}
.arttxt h6{
    color: var(--orange);
    font: 400 1.2em Montserrat;
    text-transform: capitalize;
}
.arttxt p{color: #868E96;}
.arttxt a{
    padding: 10px 30px;
    background-color: var(--orange);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font: 400 .8em Montserrat;
    transition: .3s;
}
.section7 h4{
    color: #000;
}
.section7 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#email{
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    border: 1px solid #CED4DA;
}
#subscribe{
    width: 16em;
    padding: 10px;
    border: none;
    background-color: var(--orange);
    color: #fff;
    text-transform: uppercase;
    font: 400 .8em Montserrat;
}
.section7 p{
    padding: 0 20px;
    display: inline-block;
    width: 300px;
    color: #868E96;
}
footer p{
    color: #868E96;
}
#copy{
    text-align: center;
    padding: 50px 20px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.about{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.links{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
.links a{
    color: var(--orange);
    text-decoration: none;
}
.about i{
    color: var(--orange);
    padding: 30px 5%;
}
.social{
    display: flex;
    flex-direction: row;
}
footer h6{ font-weight: 700;}

@media only screen and (min-width:768px) {
    .menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row ;
        justify-content: center;
        align-items: center;
    }
    #menudish1{
        background: url('../img/dish1.webp') center/cover;
        width: 100%;
        height: 250px;
    }
    #menudish2{
        background: url('../img/dish2.webp') center/cover;
        
        width: 100%;
        height: 250px;
    }
    #menudish3{
        background: url('../img/dish3.webp') center/cover;
        
        width: 100%;
        height: 250px;
        
    }
    #menudish4{
        background: url('../img/dish4.webp') center/cover;
        
        width: 100%;
        height: 250px;
    }
    .menuflex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 0 5px;
    }
    .footer{flex-direction: row;}
    .about{
        width: 40%;
        padding: 0 20px;
    }
    .section7 form{
        flex-direction: row;
        align-items: center;
    }
    #email{
        text-align: left;
        border: 1px solid #CED4DA;
        margin: 0 10px 0 0;
    }
    #subscribe{
        padding: 15px ;
        width: 150px;
        background-color: var(--orange);
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 0 10px;
        transition: .3s;
    }
    .artic{
        flex-direction: row;
    }
    article{
        margin: 0 10px;
        transition: .4s;
    }
    .text a:hover{
        background-color: white;
        color: black;
    }
    .contact_us:hover{
        background-color: #fff;
        color: var(--orange);
    }
    #carouselExampleFade:hover .arrows{display: block;}
    .arttxt a:hover{background-color: #ff75049c;}

    #subscribe:hover{ background-color: #ff75049c;}
    .links a:hover{color: #a84c00;}
    .social i:hover{color: #000;}
    article:hover{transform: scale(1.05)}
    #menudish1:hover{transform: scale(1.05); border-radius: 20%;}
    #menudish2:hover{transform: scale(1.05); border-radius: 20%;}
    #menudish3:hover{transform: scale(1.05); border-radius: 20%;}
    #menudish4:hover{transform: scale(1.05); border-radius: 20%;}
    .description:hover{transform: scale(1.05);}
    #food1:hover{transform: scale(1.05);}
    #food2:hover{transform: scale(1.05);}
    #food3:hover{transform: scale(1.05);}
    .foodcap:hover .dollar{
        background-color: transparent;
        border: 1px solid var(--orange);
    }
}
@media only screen and (min-width:990px) {
    .background {
        background: none !important; 
    }
    .navbar-brand{
        font: 900 2em Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-right: 26%;
    }
    .hero img {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 100vh;
        filter: brightness(0.7); 
        z-index: -3; 
        overflow: hidden;
    }
    nav .active{color: var(--orange) !important;}

    .contact_us{
        padding: 10px 15px;
    }
    
    
    h1{
        font-size:3.6em;
        letter-spacing: 3px;
    }
    
    .card-body {
        text-align: left;
    }
    .card-body i{
        text-align: left;
    }
    .card-body h3{
        text-align: left;
    }
    .icon{
        justify-content: start;
    }
    .pics{
        flex-direction: row;
    }
    #dish1{
        width: 30%;
        height: 100%;
    }
    #dish2{
        width: 30%;
        height: 100%;
    }
    .rest12{ 
        width: 30%;
    }
    #rest1{
        height: 105%;
    }
    #rest2{
        height: 105%;
    }
    h3{font-size: 3.2em;}
    .foods{
        flex-direction: row;
    }
    #food1{
        width: 30%;
        height: 60vh;
        flex-direction: column;
    }
    #food2{
        width: 30%;
        height: 60vh;
        margin: 0 15px;
        flex-direction: column;
    }
    #food3{
        width: 30%;
        height: 60vh;
        flex-direction: column;
    }
    .menuflex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 300px;
    }
    .description{
        width: 50%;
        height: 100%;
        display: flex;
    }
    #menudish1{
        background: url('../img/dish1.webp') center/cover; 
        order: 2;       
        width: 50%;
        height: 100%;
    }
    #menudish2{
        background: url('../img/dish2.webp') center/cover;
        order: 2;       
        height: 100%;
        width: 50%;
    }
    #menudish3{
        background: url('../img/dish3.webp') center/cover;
        order: 2;       
        height: 100%;
        width: 50%;
        
    }
    #menudish4{
        background: url('../img/dish4.webp') center/cover;
        order: 2;       
        height: 100%;
        width: 50%;
    }
    .order{order: 2;}

    
}
